/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 
 */

 body{
 	margin:0;
 	padding:0;
 }

div.body{
	width:1024px;
	margin:0 auto;
	padding:10px;
	text-align: center;
	
	 background-image: url('/uploads/4ffc3455d78878.21188887.png');
 background-size: 300px;
 background-position:300px 50px;
 background-repeat: no-repeat;
}

a{
background:#5ab417;
border:1px dashed #FFFFFF;
color:#FFFFFF;
font: bold normal 110% serif;
padding:1px 4px 1px 4px;
text-decoration: none;
padding: 2px 6px 2px 6px;
}

a:hover{
	background:#FFFFFF;
	color: #5ab417;
}

